<br><br><br><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Forgot Password</h4>
        </div>
        <div class="panel-body">
          <%= form_for :user, url: reset_password_url, method: 'patch', html: { class: "form-horizontal" } do |form| %>
            <fieldset>
              <div class="form-group">
                <%= email_field_tag :email, params[:email], class: 'form-control', placeholder: "yourmail@example.com" %>
              </div>
              <%= form.submit 'submit', class: 'btn btn-lg btn-success btn-block' %>
            </fieldset>
          <% end %>
          <hr/>
          <center><h4><%= link_to 'New User?', new_user_path %> | <%= link_to 'Login', login_path %></h4></center>
        </div>
      </div>
    </div>
  </div>
</div>
