<%= form_tag({}, {class: ''}) do %>
  <fieldset>
    <legend class="top_bar">Login</legend>
    <div class="form-group">
      <%= label_tag :email, 'Email', class: "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= email_field_tag :email, params[:email], class: 'form-control login-form' %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :password, 'Password: ', class: 'col-lg-2 control-label' %>
      <div class="col-lg-10 ">
        <%= password_field_tag :password, params[:password], class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :remember_me, class: "checkbox inline" do %>
        <div class="col-lg-10 ">
          <%= check_box_tag :remember_me, params[:remember_me] %>
          <span>Remember me on this computer</span>
        </div>
      <% end %>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= submit_tag 'submit', class: 'btn btn-primary' %>
      </div>
    </div>
  </fieldset>
  <div class="banner">
    <%= link_to 'New User?', new_user_path %> |
    <%= link_to 'Forgot Password', reset_password_path %>
  </div>
<% end %>
