<%= form_for(@user, url: password_reset_path(params[:id]), html: { class: "form-horizontal" }) do |form| %>
  <fieldset>
    <legend class="top_bar">Forgot Password</legend>
    <%= render 'shared/errors' , model: @user %>
    <%= hidden_field_tag :email, @user.email %>
    <div class="form-group">
      <%= form.label :password, class: "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= form.password_field :password, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= form.label :password_confirmation, class: "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= form.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= form.submit 'Update Password', class: 'btn btn-primary' %>
      </div>
    </div>
    <div class="banner">
      <%= link_to 'New User?', new_user_path %>
    </div>
  </fieldset>
<% end %>
