<% @orders.each do |order| %>
  <% if order.charge && (order.charge.status.eql? 'succeeded') && !order.picked %>
    <tr>
      <td><%= order.id %></td>
      <td>
        <% order.cart.line_items.each do |line_item| %>
          <%= line_item.meal.name %>(<%= line_item.quantity %>)<br>
        <% end %>
      </td>
      <td><%= order.pick_up.strftime("%I:%M %p") %></td>
      <td><%= number_to_currency(order.charge.amount) %></td>
      <td>
        <%= link_to toggle_ready_status_admin_order_path(order), method: :patch, class: 'btn btn-danger btn-site-primary text-uppercase' do %>
          <span class='glyphicon glyphicon-pencil'> <%= order.ready %> </span>
        <% end %>
      </td>
      <td>
        <%= link_to toggle_pick_up_status_admin_order_path(order), method: :patch, class: 'btn btn-danger btn-site-primary text-uppercase' do %>
          <span class='glyphicon glyphicon-pencil'> <%= order.picked %> </span>
        <% end %>
      </td>
      <td>
        <%= link_to order_url(order), method: :delete, data: { confirm: 'Are you Sure?' },class: 'btn btn-danger btn-site-primary text-uppercase' do %>
          <span class='glyphicon glyphicon-trash delete'> Cancel </span>
        <% end %>
      </td>
    </tr>
  <% end %>
<% end %>
