<div class="container">
  <div class="top-bar center-block text-center text-uppercase"><%= formHeader %>
  </div>
  <%= form_for user, html: { class: "form-horizontal login-form center-block" } do |form| %>
    <fieldset>
      <%= render 'shared/errors', model: @user %>
      <div class="form-group">
        <%#<%= form.label :name, class: "col-lg-2 control-label" %>
        <div class="col-sm-12">
          <%= form.text_field :name, size: 40, placeholder: 'Enter Your Name', class: 'form-control form-control-input' %>
        </div>
      </div>
      <div class="form-group">
        <%#<%= form.label :email, class: 'col-lg-2 control-label' %>
        <div class="col-sm-12">
          <% if params[:action].eql? 'edit' or params[:action].eql? 'update' %>
            <%= form.email_field :email, size: 40, placeholder: 'Enter your Email', class: 'form-control form-control-input', disabled: true %>
          <% else %>
            <%= form.email_field :email, size: 40, placeholder: 'Enter your Email', class: 'form-control form-control-input'%>
          <% end %>
        </div>
      </div>
      <div class="form-group">
        <%#<%= form.label :password, class: 'col-lg-2 control-label' %>
        <div class="col-sm-12">
          <%= form.password_field :password, size: 40, placeholder: 'Enter your Password', class: 'form-control form-control-input' %>
        </div>
      </div>
      <div class="form-group">
        <%#<%= form.label :password_confirmation, class: 'col-lg-2 control-label' %>
        <div class="col-sm-12">
          <%= form.password_field :password_confirmation, size: 40, placeholder: 'Confirm your Password', class: 'form-control form-control-input' %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <%= form.submit submitBtnText, class: 'btn btn-primary btn-lg btn-block text-uppercase' %>
        </div>
      </div>
      <div class="traversal-link text-center">
        <%= link_to 'Login?', login_path %>
      </div>
    </fieldset>
  <% end %>
</div>
