<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel login-form">
      <div class="panel-heading text-center text-uppercase">
         <h2><strong>Edit User Details</strong>
      </div>
      <div class="panel-body">
        <%= form_for @current_user, html: { class: "form-horizontal" } do |form| %>
          <div class="form-group">
            <div class="col-sm-12 form-label-group" data-id="form-label-group">
              <%= form.label :name, "Enter your name", class: "control-label", :'data-id'=>"control-label"%>
              <%= form.text_field :name, size: 40, class: 'form-control form-control-input', :'data-id'=>"form-control-input"%>
              <%= display_error(:name, @current_user) %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12 form-label-group" data-id="form-label-group">
              <%= form.label :email, "Enter your email", class: 'control-label', :'data-id'=>"control-label" %>
              <%= form.email_field :email, size: 40, class: 'form-control form-control-input', :'data-id'=>"form-control-input", disabled: true %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12 form-label-group" data-id="form-label-group">
              <%= form.label :password, "Enter your password", class: 'control-label', :'data-id'=>"control-label" %>
              <%= form.password_field :password, size: 40, class: 'form-control form-control-input', :'data-id'=>"form-control-input" %>
              <%= display_error(:password, @current_user) %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12 form-label-group" data-id="form-label-group">
              <%= form.label :password_confirmation, "Confirm your password", class: 'control-label', :'data-id'=>"control-label" %>
              <%= form.password_field :password_confirmation, size: 40, class: 'form-control form-control-input', :'data-id'=>"form-control-input" %>
              <%= display_error(:password_confirmation, @current_user) %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <%= form.submit 'Submit', class: 'btn btn-danger btn-site-primary btn-lg btn-block text-uppercase' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
