<br><br><br><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Ingredient Details</h4>
        </div>
        <div class="panel-body">
          <%= form_for [:admin, @ingredient], html: { class: 'form-horizontal'} do |form| %>
            <fieldset>
              <div class="form-group">
                <%= form.text_field :name, size: 40, class: 'form-control', placeholder: 'Name*' %>
                <%= display_error(:name, @ingredient) %>
              </div>
              <div class="form-group">
                <%= form.number_field :price, class: 'form-control', placeholder: 'Price*' %>
                <%= display_error(:price, @ingredient) %>
              </div>
              <div class="form-group">
                <div class="col-lg-10">
                  <%= form.radio_button :category, 'veg' %>
                  <%= form.label :category_veg, 'Veg' %>
                  <%= form.radio_button :category, 'non_veg' %>
                  <%= form.label :category_nonveg, 'Non-Veg' %>
                  <%= display_error(:category, @ingredient) %>
                </div>
              </div>
              <div class="form-group col-lg-10">
                <%= form.label :extra_allowed %>
                <%= form.check_box :extra_allowed %>
                <%= display_error(:extra_allowed, @ingredient) %>
              </div>
              <%= form.submit 'Submit', class: 'btn btn-lg btn-success btn-block' %>
            </fieldset>
          <% end %>
          <hr/>
          <center><h4><%= link_to 'Back', admin_ingredients_url %></h4></center>
        </div>
      </div>
    </div>
  </div>
</div>
