<br><br>
<strong> Location: <%= session[:current_location] %> </strong>
<br>
<strong> Address: <%= @branch.address %> </strong>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Please Enter Order Details</h4>
        </div>
        <div class="panel-body">
          <%= form_for @order do |form| %>
            <fieldset>
              <div class="form-group">
                <%= form.number_field :phone_number, class: 'form-control', placeholder: "Phone Number"%>
                <%= display_error(:phone_number, @order) %>
              </div>
              <div class="form-group"><strong>Pick Up Time</strong>
                <%= form.time_field :pick_up, class: 'form-control' %>
                <%= display_error(:pick_up, @order) %>
                <%= form.hidden_field :user_id, value: @current_user.id %>
                <%= form.hidden_field :branch_id, value: @branch.id %>
                <%= form.hidden_field :cart_id, value: @cart.id %>
              </div>
              <%= form.submit 'Place Order', class: 'btn btn-lg btn-success btn-block' %>
            </fieldset>
          <% end %>
          <hr/>
          <center><h4><%= link_to 'Store', store_index_path %></h4></center>
        </div>
      </div>
    </div>
  </div>
</div>
