<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel login-form">
      <div class="panel-heading text-center text-uppercase">
        <h3><strong>Enter Restaurant Details</strong></h3>
      </div>
      <div class="panel-body">
        <%= form_for [:admin, @branch], html: { class: 'form-horizontal'} do |form| %>
          <div class="form-group">
            <div class="col-sm-12 form-label-group" data-id="form-label-group">
              <%= form.label :name, 'Enter branch name', class: "control-label", :'data-id'=>"control-label" %>
              <%= form.text_field :name, size: 40, class: 'form-control form-control-input', :'data-id'=>"form-control-input" %>
              <%= display_error(:name, @branch) %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12 form-label-group" data-id="form-label-group">
              <%= form.label :opening_time, 'Enter opening time', class: "control-label", :'data-id'=>"control-label" %>
              <%= form.time_field :opening_time, size: 40, class: 'form-control form-control-input', :'data-id'=>"form-control-input" %>
              <%= display_error(:opening_time, @branch) %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12 form-label-group" data-id="form-label-group">
              <%= form.label :closing_time, 'Enter closing time', class: "control-label", :'data-id'=>"control-label" %>
              <%= form.time_field :closing_time, size: 40, class: 'form-control form-control-input', :'data-id'=>"form-control-input" %>
              <%= display_error(:closing_time, @branch) %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12 form-label-group" data-id="form-label-group">
              <%= form.label :contact_number, 'Enter contact number', class: "control-label", :'data-id'=>"control-label" %>
              <%= form.number_field :contact_number, size: 40, class: 'form-control form-control-input', :'data-id'=>"form-control-input" %>
              <%= display_error(:contact_number, @branch) %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12 form-label-group" data-id="form-label-group">
              <%= form.label :address, 'Enter address', class: "control-label", :'data-id'=>"control-label" %>
              <%= form.text_field :address, size: 40, class: 'form-control form-control-input', :'data-id'=>"form-control-input" %>
              <%= display_error(:address, @branch) %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <%= submit_tag 'Continue', class: 'btn btn-danger btn-site-primary btn-lg btn-block text-uppercase' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
