<div class="container">
  <h2 class="text-center text-uppercase">Branches</h2>
  <div class="table-responsive margin-top-30">
    <table class="table table-hover table-striped" border='2'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Opening Time</th>
          <th>Closing Time</th>
          <th>Address</th>
          <th>Contact Number</th>
          <th>Default Location</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @branches.each do |branch| %>
          <tr>
            <td><%= branch.name %></td>
            <td><%= branch.opening_time.strftime("%I:%M %p") %></td>
            <td><%= branch.closing_time.strftime("%I:%M %p") %></td>
            <td><%= branch.address %></td>
            <td><%= branch.contact_number %></td>
            <td>
              <% if branch.default %>
                <strong>Default</strong>
              <% else %>
                <%= link_to change_default_admin_branch_path(branch), method: :patch, class: 'btn btn-danger btn-site-primary text-uppercase' do %>
                  <span class='glyphicon glyphicon-pencil'> Set Default </span>
                <% end %>
              <% end %>
            </td>
            <td>
              <%= link_to edit_admin_branch_path(branch),class: 'btn btn-danger btn-site-primary text-uppercase' do %>
                <span class='glyphicon glyphicon-pencil'> Edit </span>
              <% end %>
            </td>
            <td>
              <%= link_to admin_branch_url(branch),class: 'btn btn-danger btn-site-primary text-uppercase' , method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class='glyphicon glyphicon-trash delete'> Delete </span>
                <%end %>

              </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= link_to new_admin_branch_url, class: 'btn btn-danger btn-site-primary text-uppercase' do %>
    <span><i class="glyphicon glyphicon-plus"></i> Add new location </span>
  <% end %>
</div>
