<br><br><br><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Reset Password</h4>
        </div>
        <div class="panel-body">
          <%= form_for @user, url: :password, method: :patch, html: { class: "form-horizontal" } do |form| %>
            <fieldset>
            <%= hidden_field_tag :email, @user.email %>
              <div class="form-group">
                <%= form.password_field :password, class: 'form-control', placeholder: "password" %>
                <%= display_error(:password, @user) %>
              </div>
              <div class="form-group">
                <%= form.password_field :password_confirmation, class: 'form-control', placeholder: "Confirm Password" %>
                <%= display_error(:password_confirmation, @user) %>
              </div>
              <%= form.submit 'Update Password', class: 'btn btn-lg btn-success btn-block' %>
            </fieldset>
          <% end %>
          <hr/>
          <center><h4><%= link_to 'New User?', signup_path %> | <%= link_to 'Login', login_path %></h4></center>
        </div>
      </div>
    </div>
  </div>
</div>
