<br>
<br>
<%= form_tag store_index_path, method: :get, data: { category: :options } do %>
  <% VALID_CATEGORIES.each do |key, value| %>
    <%= radio_button_tag 'category', value, (session[:category].eql? value) %>
    <%= label_tag "category_#{ value }", "Only #{ value }" %>
  <% end %>
  <%= radio_button_tag 'category', 'both', (session[:category].eql? 'both') %>
  <%= label_tag 'category_both', 'All Meals' %>
<% end %>
<% unless @meals.any? %>
  <br><br>
  <strong> No Available Meals</strong>
<% end %>
<br>
<br>
<% @meals.each do |available_meal| %>
  <div class="card col-md-4" id="<%= available_meal.id %>" data-name ="item_div" style="width: 20rem;">
    <%= image_tag(available_meal.image, size: "150x150") %><br><br>
    <div class="card-block">
      <p><strong><%= capitalize_and_remove_undescore(available_meal.name) %></strong></p>
      <p><strong>Price: <%= number_to_currency(available_meal.price) %></strong></p>
      <p><%= button_to 'Add To Cart', line_items_path(meal_id: available_meal), remote: true, class: 'btn btn-primary'  %></p>
      <p><strong>Rating:
        <% if meal_rated?(available_meal) %>
          <%= average_rating(available_meal) %>
        <% else %>
          Not Yet Rated
        <% end %>
      </strong></p>
    </div>
  </div>
<% end %>
