<%= javascript_include_tag 'store' %>
<%= stylesheet_link_tag 'store' %>
<strong>Location: <%= session[:current_location]%></strong>
<div id="cart" class="cart">
  <% if @cart %>
    <% unless @cart.line_items.empty? %>
      <%= render @cart %>
    <% end %>
  <% end %>
</div>
<div class="container", data-name="meal-container">
  <%= render "meals" %>
</div>
