<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li class="location"><strong><%= @branch.name %></strong></li>
      </ul>
      <ul class="nav navbar-nav navbar-left">
        <% if @current_user %>
          <li><%= link_to "Home", store_index_path %></li>
          <% if admin_logged_in? %>
            <li><%= link_to "Branches", admin_branches_path %></li>
            <li><%= link_to "Ingredients", admin_ingredients_path %></li>
            <li><%= link_to "Meals", admin_meals_path %></li>
            <li><%= link_to "Orders", admin_orders_path %></li>
            <li><%= link_to "Reports", admin_reports_path %></li>
          <% else %>
            <li><%= link_to "My orders", myorders_users_path %></li>
          <% end %>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
          <li><%= link_to 'Home',  store_index_path %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if @current_user %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">Hi <%= @current_user.name %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Edit Profile", edit_user_path(@current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to "Log out", logout_path, method: :delete %></li>
            </ul>
          </li>
        <% end %>
        <li>
          <%= render partial: 'layouts/dropdown' %>
        </li>
      </ul>
    </nav>
  </div>
</header>
